.icon-menu-show {
  display: inline-block;
  float: right;
}

.icon-menu-hide {
  display: none;
}

.main-nav ul {
  display: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.any-nav ul {
  list-style: none;
}

.center {
  text-align: center;
}

.template {
  display: none;
}

@media only screen and (min-width:600px){
  .any-nav ul {
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }

  .any-nav li {
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }

  .any-nav:hover ul {
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }

  .icon-menu-show {
    display: none;
  }

  .icon-menu-hide {
    display: none;
  }

  .left-75 {
    float: left;
    width: 75%;
  }

  .right-25 {
    float: right;
    width: 20%;
  }

  .sidebar ul {
    padding-left: 1em;
  }
}

.any-nav a, .any-nav a:link, .any-nav a:active {
  text-decoration: none;
  color: #eeecea;
}

.any-nav a:hover, .any-nav a:focus {
  color: #fff;
  -ms-transform: scale(1.15); /* For IE 9 */
  -webkit-transform: scale(1.15); /* Safari */
  transform: scale(1.15);
}

.project-body a {
  color: #FFE5DC;
}
