.icon-menu-show {
  display: inline-block;
  float: right;
}

.icon-menu-hide {
  display: none;
}

.main-nav ul {
  display: none;
}

.main-nav:hover ul {
  display: block;
}

.any-nav ul {
  list-style: none;
}

.center {
  text-align: center;
}

@media only screen and (min-width:1025px){
  .any-nav ul {
    display: flex;
    list-style: none;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }

  .any-nav li {
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }

  .any-nav:hover ul {
    display: flex;
    list-style: none;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }

  .icon-menu-show {
    display: none;
  }

  .icon-menu-hide {
    display: none;
  }
}
